<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=320" />
  <meta name="viewport" content="width=device-width" />
  <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
      <h1>Hot, Cold or Sunny!</h1>
    </header>
    <section>
      <div class = "container">
        <form action="/submit"  method = "post">
          <div class="form-group">
            <label for="city">Enter your city here:</label>
            <input type="text" name="city" class="form-control" required>
          </div>
          <input type="submit" value="Check the weather!">
        </form>
      </div>
        <% if (weatherReport !== null) { %>
           <p><%= weatherReport %></p>
        <% } %>

        <% if (error !== null) { %>
           <p><%= error %></p>
        <% } %>
    </section>


    <footer>

    </footer>
</body>
</html>
